<div class="hero parallax">
    <h1 class="hero__title">ARTA ÎN DESTINUL NOSTRU</h1>
    <div class="hero__description">
        <p>Este important ca oamenii să privească arta, fiindcă trăim într-o lume vizuală.
        Să înțelegem, să privim și să ne gândim la felul în care imaginile comunică în diferite moduri, este important pentru existența noastră. Putem dobândi o înțelegere vizuală sporită când petrecem timp privind lucruri, fie că este vorba de pozele dintr-un catalog sau de pe un site web, fie de lucrările dintr-un muzeu, fie de natura înconjurătoare. O astfel de atenție, către mediul în care trăim, ne face o persoană mai bună.
        Existăm în spațiu mai conștienți, mai alerți și mai prezenți.</p>
        <p>Câteodată oamenii cred că singura cale de a privi arta este mersul la muzee sau în galerii de artă. Uneori, însă, arta este peste tot: pe stradă, dacă te uiți la arhitectură sau la peisaj. Deci, nu trebuie să mergi neapărat la un muzeu pentru a vedea artă. Ea poate fi oriunde: într-un parc, clădirile, mijloacele de transport, mobilierul, spațiile pentru recreere sau când mergem la un film.
        Arta este în viața de zi cu zi.
        Asta înseamnă a observa, a vedea dincolo de prima impresie, de obișnuit! Oamenii se uită la artă și zic: „Îmi place asta!” sau „Nu-mi place asta!” și merg mai departe. Au noțiuni predeterminate. Dar dacă te oprești un moment și te uiți mai atent la ceva, poți începe să observi un detaliu pe care nu l-ai fi văzut înainte. Această abilitate se aplică la multe alte aspecte de viață, nu doar în artă! Să fim capabili de a o lua mai încet și de a conștientiza unde ne aflăm, de fapt aceasta este lecția! De exemplu, să ne oprim din vorbit, să ciulim urechile și să privim! Sunt atâtea detalii în jur, pe care le putem absorbi, dacă am acorda o clipă și am lăsa să ne copleșească frumusețea ce ne înconjoară.
        Să ascultăm, să privim, să înțelegem!</p>
        <b>Aprilie 2021, Profesor dr. Arte vizuale Anișoara Munteanu</b>
    </div>
</div>