<div class="parallax">
  <div class="hero">
    <h1 class="hero__title">DE CE ARTĂ ȘI TIC?</h1>
    <p class="hero__description">
      Evoluția societății umane actuale cunoaște un ritm nemaiîntâlnit.
      Activităţile de tip artistic au dezvoltat sensibilitatea umană, au cultivat
      cu precădere armonia, inteligenţa estetică şi au reprezentat întotdeauna un
      mod de manifestare a creativităţii umane.
    </p>
    <p class="hero__description">
      Educația permanentă a devenit, pentru omenire, o paradigmă cu sens, iar
      pentru Artă, o provocare! În artele vizuale, exprimarea cu ajutorul
      mijloacelor materiale, clasice, se completează cu mijloacele computerizate.
      Cu alte cuvinte, arta materială este în simbioză cu arta virtuală. Limbajul
      plastic este comun, doar materialele și tehnicile de realizare sunt
      diferite.
    </p>
    <p class="hero__description">
      Creativitatea artistică a elevilor poate fi stimulată cu ajutorul
      computerului și a instrumentelor digitale. Cu cât elevii vor fi mai
      alfabetizați vizual, cu atât vor deveni mai conștienți și mai critici
      (într-un sens constructiv) în evaluarea produselor estetice ale culturii
      digitale contemporane. Dacă la început nu s-a pus accent prea mare pe latura
      estetică, în zilele de azi se acordă o importanță din ce în ce mai mare nu
      numai conținutului de informații al unui site web, de exemplu, dar și
      esteticii, dinamicii și atractivității lui.
    </p>
    <p class="hero__description">
      Utilizarea tehnologiei informatice în educația artistică oferă elevilor
      diferite oportunități, cum ar fi: accesul rapid la informații despre artiști
      și lucrări ale acestora, vizitarea muzeelor și galeriilor virtuale de artă,
      vizualizarea unor filme și tutoriale de educație artistică, etc. În același
      timp, le înfățișează elevilor un mediu viu, interactiv, care cultivă
      programat curiozitatea, creativitatea, inventivitatea și experimentarea
      individuală și de grup, oferindu-le, totodată, acces la diversitatea lumii.
    </p>
    <p class="hero__description">
      Grafica digitală, editarea imaginilor, video, web designul prezintă elevilor
      excelente oportunități pentru dezvoltarea competențelor într-un domeniu larg
      de aplicabilitate al software-urilor și tehnologiilor de comunicare, din
      care amintim: prelucrarea computerizată a imaginii, fotografia digitală,
      animația, video, designul tridimensional, designul web, DTP (Desktop
      Publishing, tipografia digitală) etc. Specializarea în noile tehnologii
      ajută tinerii să se pregătească pentru piaţa de muncă a industriilor
      creative: mass-media, publicitate, producţia TV şi de filme etc.
    </p>
    <p class="hero__description">
      Elevii noștri sunt puternic motivaţi să înveţe şi să creeze lucrări
      artistice folosind TIC, în special programele grafice, video și de editare a
      imaginii. Suntem alături de ei și, împreună, credem că o educație construită
      pe baza unui set de valori este o educație sănătoasă. Valorile în care
      credem sunt: entuziasm, integritate, rezultate măsurabile și o bună
      pregătire pentru piața de muncă.
    </p>
  </div>
  <div class="workgroup glass mat-elevation-z4">
      <h1 class="workgroup__title">Echipa de lucru</h1>
      <p class="workgroup__line"><b>Designer website: </b>Prof. dr. arte vizuale ANIȘOARA MUNTEANU</p>
      <p class="workgroup__line"><b>Consultanți: </b>EMILIAN TÎRNOVAN (10B), TUDOR POPESCU (7C) & IONCIOAIA CĂLIN (11D)</p>
      <p class="workgroup__line"><b>Consultanți pe arii curriculare:</b> Profesorii LIIS</p>
  </div>
</div>