<div class="hero parallax">
    <h1 class="hero__title">FOTOGRAFIE & GRAFICĂ DIGITALĂ</h1>
    <p class="hero__description">Fotografia artistică înseamnă, în primul rând, viziune, creativitate, imaginație și estetică a frumosului. Înseamnă să pictezi cu lumină. Înseamnă să spui povești în imagini și să comunici trăiri autentice, construind un cadru armonios și spectaculos în același timp.</p>
    <p class="hero__description">Arta digitală sau arta computerizată (uneori artă pe calculator) reprezintă toate activitățile creative bazate pe utilizarea de informații (tehnologia calculatorului) care au ca rezultat opere de artă în format digital. Deși termenul poate fi aplicat operelor de artă create inițial prin folosirea altor medii sau prin scanare, arta pe calculator se referă întotdeauna la operele de artă care au fost modificate prin intermediul unor programe de calculator (software).</p>
</div>
<app-sections [sections]="sections"></app-sections>