<div class="parallax--second">
    <div class="constantin glass mat-elevation-z4">
        <h1 class="constantin__title">UNIVERSUL ARTEI & ARTIȘTI</h1>
        <h2 class="constantin__subtitle">CONSTANTIN BRÂNCUȘI</h2>
        <p class="constantin__description"><b>Constantin Brâncuși</b> s-a născut la 19 februarie 1876, în Hobița, județul Dolj și a decedat la 16 martie 1957, în Paris, Franța. A fost un sculptor român cu contribuții covârșitoare la înnoirea limbajului și viziunii plastice în sculptura contemporană, fiind considerat părintele sculpturii moderne.</p>
        <p class="constantin__description">Brâncuși a eliberat sculptura de preponderența imitației mecanice a naturii, a refuzat reprezentarea figurativă a realității, a preconizat exprimarea esenței lucrurilor, a vitalității formei, a creat unitatea dintre sensibil și spiritual.</p>
        <div class="btn" routerLink="/universul-artei">Read more »</div>
    </div>
</div>