<div class="hero parallax">
    <h1 class="hero__title">CE ESTE UN PROIECT EDUCAȚIONAL?</h1>
    <h4 class="hero__description">
        Activitatea educativă şcolară şi extraşcolară reprezintă spaţiul aplicativ care permite transferul şi aplicabilitatea cunoştinţelor, abilităţilor, competenţelor dobândite în sistemul de învăţământ. Prin formele sale specifice, activitatea educativă şcolară şi extraşcolară dezvoltă gândirea critică şi stimulează implicarea tinerei generaţii în actul decizional în contextul respectării drepturilor omului şi al asumării responsabilităţilor sociale, realizându-se, astfel, o simbioză lucrativă între componenta cognitivă şi cea comportamentală.
    </h4>
    <h4 class="hero__description">
        Strategia urmăreşte îmbunătăţirea calitativă a nivelului de educaţie absolut necesară în contextul unor schimbări complexe la nivelul vieţii de familie, a pieţei forţei de muncă, a comunităţii, a societăţii multiculturale şi a globalizării. Educaţia de bună calitate presupune aplicarea modelului diversităţii prin abordarea diferenţiată, iniţierea de proiecte în care să fie implicaţi elevi, cadre didactice de diferite specialităţi, parteneri educaţionali, pornind de la părinţi, societatea civilă, media şi comunitate.
        Proiectele educative sunt definite ca un set de acţiuni planificate pe o durată determinată de timp care urmăresc atingerea unor obiective. Conform accepţiunii Comisiei Europene (1986), proiectul înseamnă „un grup de activităţi care trebuie realizate într-o secvenţă logică, pentru a atinge un set de obiective prestabilite, formulate de client.”
    </h4>
    <h2 class="hero__subtitle">Ce schimbări poate aduce un proiect?</h2>
    <h4 class="hero__description">
        Asigură copiilor experienţe concrete de viaţă, necesare formării şi dezvoltării deprinderilor şi atitudinilor necesare construirii unei societăţi durabile, interacţionând direct cu mediul şi cu cei asemeni lor sau cu adulţii;
        Copiii, cadrele didactice, partenerii şi colaboratorii îşi formează sau îşi îmbunătăţesc unele competenţe operaţionale, informaţionale şi de comunicare;
        Un proiect produce schimbări în cultura organizaţională, transformând-o în una puternică, promotoare a iniţiativei, asumării şi conlucrării în echipă;
        Un proiect conduce la consolidarea unui set de valori stabile şi coerente, care să determine la toţi cei implicaţi conduite favorabile unui stil de viaţă sănătos – mental, emoţional, fizic şi socio-moral;
        Managementul de proiect consolidează mecanismele managementului instituţional;
        Un proiect conduce la schimbarea mentalităţii cetăţenilor obişnuiţi cu privire la importanţa şi complexitatea activităţilor desfăşurate în această treaptă de învăţământ şi rolul acestora în pregătirea copilului pentru şcoală şi pentru viaţa socială;
        Cadrele didactice îşi lărgesc orizotul preocupărilor, valorifică oportunităţile oferite de instituţiile administrative şi de cultură, organizaţii etc.
    </h4>
    <h2 class="hero__subtitle">Care este valoarea pedagogică a unui proiect educaţional?</h2>
    <h4 class="hero__description">
        Implicarea într-un proiect asigură copiilor o motivare superioară în învăţarea şi practicarea deprinderilor complexe de comunicare (pe orizontală şi pe veticală);
        Copiii se găsesc în faţa unor situaţii concrete, fiind determinaţi să elaboreze, să redea prin intermediul limbajului oral, scris, plastic idei, păreri, impresii;
        Copiii sunt încurajaţi să facă predicţii, să manifeste opţiuni, să facă alegeri, motivându-le;
        Copiii interacţionează cu alţi copii, fac schimb de informaţii, corespondează, vorbesc, se joacă, se iau la întrecere într-un cadru organizat, cu scopuri clar şi bine determinate;
        Copiii îşi creează propriile resurse de învăţare pentru ei, dar pot crea şi pentru alţii.
    </h4>
</div>
<app-sections [sections]="sections"></app-sections>