<div class="hero parallax">
	<h1 class="hero__title">ARTA ÎN DESTINUL NOSTRU</h1>
	<h4 class="hero__description">Este important ca oamenii să privească arta, fiindcă trăim într-o lume vizuală. Să înțelegem, să privim și să ne gândim la felul în care imaginile comunică în diferite moduri, este important pentru existența noastră. Putem dobândi o înțelegere vizuală sporită când petrecem timp privind lucruri, fie că este vorba de pozele dintr-un catalog sau de pe un site web, fie de lucrările dintr-un muzeu, fie de natura înconjurătoare.</h4>	
	<a class="hero__button btn" routerLink="arta-in-destinul-nostru">Citește mai mult &raquo;</a>
	<iframe class="hero__video" src="https://embed.ted.com/talks/danielle_feinberg_the_magic_ingredient_that_brings_pixar_movies_to_life" width="854" height="480" frameborder="0" scrolling="no" allowfullscreen></iframe>
	<a class="hero__button btn" href="/assets/videos/VIDEO EXPLICARE SUBTITRĂRI.mp4">Tutorial activare subtitrări &raquo;</a>
</div>