<div class="hero parallax">
    <h1 class="hero__title">ARTE PLASTICE</h1>
    <p class="hero__description">Talentul şi creativitatea reprezintă forţa motrice a dezvoltării societăţii omeneşti. Pasiunea elevilor noștri, talentați în domeniul creației artistice, este un reper în acest sens.
        În această secțiune prezentăm creațiile elevilor noștri, care aleg să se exprime artistic, utilizând tehnicile clasice de pictură și grafică.</p>
</div>
<app-sections [sections]="sections"></app-sections>
